<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/body.css">
    <link rel="stylesheet" href="/stylesheets/classroom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Classroom</title>
</head>
<body>
    <div>
        <%- include('../views/navbar.ejs') %>
    </div>
    <div class="main-body">
        <div>
            <%- include('../views/sidebar.ejs') %>
        </div>
       <main>
        <div class="container">
          <h1>Classroom</h1>
          <p>Classroom je místo, kde studenti najdou všechna zadání úkolů a materiály ke studiu na jednom místě. Umožňuje snadný přístup k zadání úkolů, což usnadňuje orientaci a pomáhá studentům lépe si organizovat studium. Každý student zde může jednoduše odevzdat svůj vypracovaný úkol ve formátu PDF, a mít tak přehled o všech odevzdaných pracích.</p>
        </div>
        <div class="horizontal-div">
            <div class="container">
                <h1>Zpasat se do kurzu</h1>
                <p>Zde napiste kod kurzu</p>  
                <form action=""></form> 
                <input name="input_course" type="number" placeholder="kod">
                <button> Zapsat se </button>
            </div>

        </div>
      </main>
    </div>
    <div>
        <%- include('../views/footer.ejs') %>
    </div>
    <script src="/javascripts/handlers/sidebarHandler.js"></script>
</body>
</html>