<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/body.css">
    <link rel="stylesheet" href="/stylesheets/classroom.css">
    <link rel="stylesheet" href="/stylesheets/classroomStudent.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Classroom</title>
</head>
<style>
     
</style>
<body>
    <div>
        <%- include('../views/navbar.ejs') %>
    </div>
    <div class="main-body">
        <div>
            <%- include('../views/sidebar.ejs') %>
        </div>
       <main>
        <div class="container" style="text-align: center;">
          <h1>Úkoly</h1>
          <p>Zde naleznete veškeré úkoly a zadání, které vám byly přiděleny. Úkoly se kliknutím dají zvětšit a zobrazí se popis.</p>
        </div>


        <div id="task-container" class="task-container">
            <!-- <div class="task-card" onclick="goToCourse(3)">
                <div class="task-title">Křížení hrachu – Mendelovy zákony v praxi</div>
                <div class="task-info"><b>Kurz:</b> Biologie</div>
                <div class="task-info"><b>Učitel:</b> Jakub Maxa</div>
            </div>
        
            <div class="task-card" onclick="goToCourse(4)">
                <div class="task-title">Dědičnost tvaru zrn u hrachu</div>
                <div class="task-info"><b>Kurz:</b> BioCross</div>
                <div class="task-info"><b>Učitel:</b> Pavel Sona</div>
            </div>
        
            <div class="task-card" onclick="goToCourse(5)">
                <div class="task-title">Ukol pro Studenty</div>
                <div class="task-info"><b>Kurz:</b> BioCross</div>
                <div class="task-info"><b>Učitel:</b> Pavel Sona</div>
            </div> -->
        </div>
        
      
      </main>
    </div>
    <div>
        <%- include('../views/footer.ejs') %>
    </div>
    <script src="/javascripts/handlers/classroomUkolHandler.js"></script>

    <script>
   
            function goToCourse(courseId) {
                window.location.href = "/classroom/kurz?id=" + courseId;
            }
    </script>
</body>
</html>