<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/body.css">
    <link rel="stylesheet" href="/stylesheets/classroom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Classroom</title>
</head>
<body>
    <div>
        <%- include('../views/navbar.ejs') %>
    </div>
    <div class="main-body">
        <div>
            <%- include('../views/sidebarUcitel.ejs') %>
        </div>
       <main>
        <div class="container">
          <h1>Jak vytvorit novy kurz</h1>
          <p>Classroom je místo, kde studenti najdou všechna zadání úkolů a materiály ke studiu na jednom místě. Umožňuje snadný přístup k zadání úkolů, což usnadňuje orientaci a pomáhá studentům lépe si organizovat studium. Každý student zde může jednoduše odevzdat svůj vypracovaný úkol ve formátu PDF, a mít tak přehled o všech odevzdaných pracích.</p>
        </div>
            <div class="container">
                <h1>Vytvorit novy kurz</h1>
                <p>Zde napiste kod kurzu</p>   
                <form action="/classroomUcitel/novyKurz" method="post">
                    <input name="courseName" type="text" placeholder="Jmeno Kurzu">
                    <input name="teachersName" type="text" placeholder="Jmeno vyucujiciho">
                    <input name="className" type="text" placeholder="Trida">
                    <input name="courseYear" type="text" placeholder="Rok">

                    <button class="submit" type="submit">Vytvorit kurz</button>

                </form>
             
            </div>
      </main>
    </div>
    <div>
        <%- include('../views/footer.ejs') %>
    </div>
    <!-- <script src="/javascripts/classroom.js"></script> -->
</body>
</html>