<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/body.css">
    <link rel="stylesheet" href="/stylesheets/classroom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Classroom</title>
</head>
<body>
    <div>
        <%- include('../views/navbar.ejs') %>
    </div>
    <div class="main-body">
        <div>
            <%- include('../views/sidebar.ejs') %>
        </div>
       <main>
        <div class="container">
          <h1>Úkoly</h1>
          <p>Zde naleznete veškeré úkoly a zadání, které vám byly přiděleny. Můžete si je pohodlně prohlédnout, zodpovědět na ně a snadno odevzdat své vypracování. Každý úkol je jasně popsán s termínem odevzdání, abyste vždy věděli, co je třeba udělat a kdy.

            Stačí vybrat úkol, na kterém chcete pracovat, přidat svoji odpověď a odeslat ji ke kontrole. Učitel si ji následně zkontroluje a případně vám poskytne zpětnou vazbu.</p>
        </div>
      </main>
    </div>
    <div>
        <%- include('../views/footer.ejs') %>
    </div>
</body>
</html>