<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"/> <!-- 'nano' theme -->

    <link rel="stylesheet" href="/stylesheets/body.css">
    <link rel="stylesheet" href="/stylesheets/crossing.css">
    <!-- Knihovna  --> 



    <title>Crossing</title>
</head>
<body>
    <div>
        <%- include('../views/navbar.ejs') %>
    </div>

    <div class="menu-container">
      
        <div class="subjekt">
            <h1>Subjekt 1</h1>
            <div class="sub-container">
                <h2>Vybrat barvu</h2>
                <div class="color-picker"></div>

              
            </div>
            <div class="sub-container">
                <h2>V=</h2>
                <p>adsdas</p>
                <button>dsadas</button>



            </div>
        </div>
        <div class="vl"></div>
        <div class="subjket">
            <div class="sub-container">
                <h1>Subjekt 2</h1>
                <p>asdad</p>
                <h1>asd</h1>
            </div>
        </div>
       
        
    </div>
    <div style="height: 800px;"></div>

    <div>
        <%- include('../views/footer.ejs') %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.es5.min.js"></script>
    <script src="javascripts/crossing.js"></script>
</body>
</html>