<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/body.css">
    <link rel="stylesheet" href="/stylesheets/crossing.css">
    <title>Crossing</title>
</head>
<body>
    <div>
        <%- include('../views/navbar.ejs') %>
    </div>
<!-- https://medium.com/@laners.org/how-to-add-a-color-picker-in-html-ebd55e419b16 -->

    <div class="select-krizeni">
        <label>Vyberte typ křížení</label>
        <select name="krizeniSelect" id="krizeniSelect" onchange="showContent()">
            <option value="uplnaDominance">Úplná dominance</option>
            <option value="neuplnaDominance">Neúplná dominance</option>
            <option value="kodominance">Kodominace</option>
        </select>
    </div>

<!-- UPLNA DOMINANCE -->
    <div class="body-crossing" id="uplnaDominance">
        <div class="menu-container-priprava">
            <h1 style="margin-top: 1em;">Úplná dominance - Příprava křížení</h1>
            <p>Pro ilustraci použijeme dihybridní křížení dvou polyhybridů (AaBb × AaBb), kde:</p>

            <div style="border: 1px solid black; border-radius: 10px; width: 30%; justify-self: center; margin: 2em;">
                <p><b>A</b> = dominantní alela prvního genu (barva)</p>
                <p><b>a</b> = recesivní alela prvního genu (barva)</p> 
                <p><b>B</b> = dominantní alela druhého genu (tvar)</p>
                <p><b>b</b> = recesivní alela druhého genu (tvar)</p>
            </div>
        </div>
            <div class="menu-container-priprava">
                <div class="priprava-heterozygotu">
                    <div class="heterozygot-div">

                        <h1>Polyhybrid (AaBb)</h1>
                        <!-- <h2 style="margin-top: 1em;">1) Volba recesivního a dominantního znaku pro barvu</h2> -->
                        <h2 style="margin-top: 1em;">1) První znak (barva)</h2>

                        <div style="display: flex; justify-content: center; padding: 1em; gap: 1em;">
                            <h4>A ... Zvolte barvu pro dominantní alelu</h4>
                            <input type="color" class="styled-input" id="colorPicker1" value="#FF0000">
                            <div id="colorPreview1"  class="color-preview"></div>
                        </div>
                        
                        <div style="display: flex; justify-content: center; padding: 1em; gap: 1em;">
                            <h4>a ... Zvolte barvu pro recesivní alelu</h4>
                            <input type="color" class="styled-input" id="colorPicker2" value="#0000FF">
                            <div id="colorPreview2" class="color-preview"></div>
                        </div>

                        <!-- <h2 style="margin-top: 1em;">2) Volba recesivního a dominantního znaku pro tvar</h2> -->
                        <h2 style="margin-top: 1em;">2) Druhý znak (tvar)</h2>

                        <div style="display: flex; justify-content: center; padding: 1em; gap: 1em;">
                            <h4>B ... Vyberte tvar dominantní alely</h4>
                            <input type="number" class="styled-input" style="width: 50px; height: 30px;" id="input1">
                            <span id="numberText1" class="number-preview"></span>
                        </div>

                        <div style="display: flex; justify-content: center; padding: 1em; gap: 1em;">
                            <h4>b ... Vyberte tvar recesivní alely</h4>
                            <input type="number" class="styled-input" style="width: 50px; height: 30px;" id="input2">
                            <span id="numberText2" class="number-preview"></span>
                        </div>


                        <button class="button-generujTvar" onclick="generuj()">Generuj polyhybridy</button>


                        <div class="heterozygoti-container">
                            <div>
                                <h3>Polyhybrid AaBb</h3>
                                <canvas class="canvas1" id="canvas1" width="400" height="400"></canvas>
                            </div>
                            <h1>X</h1>
                            <div>
                                <h3>Polyhybrid AaBb</h3>
                                <canvas class="canvas1" id="canvas2" width="400" height="400"></canvas>
                            </div>
                        </div>
                    </div> 
                </div>

                <div style="text-align: center; width: 100%;">
                    <button class="button-krizeni" onclick="kriz()">Křížit</button>
                </div>
            </div>

            <div class="menu-container">
                <h1>Výsledný subjekt</h1>
                <br>
                <p><b>Fenotypový poměr:</b> 9:3:3:1</p>
                <br>
                <p>9 : dominantní pro oba znaky (A_B_)</p>
                <p>3 : dominantní pro první znak, recesivní pro druhý (A_bb)</p>
                <p>3 : recesivní pro první znak, dominantní pro druhý (aaB_)</p>
                <p>1 : recesivní pro oba znaky (aabb)</p>
                <div class="vysledny-canvas">
                    <h1>9x</h1>
                    <canvas class="canvas2" id="canvas3" width="400" height="400"></canvas>
                    <h1>3x</h1>
                    <canvas class="canvas2" id="canvas4" width="400" height="400"></canvas>
                    <h1>3x</h1>
                    <canvas class="canvas2" id="canvas5" width="400" height="400"></canvas> 
                    <h1>1x</h1>
                    <canvas class="canvas2" id="canvas6" width="400" height="400"></canvas> 
                </div>
            </div>
        <button class="button-krizeni" onclick="uplnaDominancePDF()">Generuj PDF</button>
    </div>
    

    
<!-- VERZE DVE neuplnaDominance -->
<div class="body-crossing" id="neuplnaDominance" style="display: none;">

    <div class="menu-container-priprava">
        <h1 style="margin-top: 1em;">Neúplná dominance - Příprava křížení</h1>
        <p>Pro ilustraci použijeme dihybridní křížení dvou polyhybridů (AaBb × AaBb), kde:</p>

        <div style="border: 1px solid black; border-radius: 10px; width: 30%; justify-self: center; margin: 2em;">
            <p><b>A</b> = dominantní alela prvního genu (barva)</p>
            <p><b>a</b> = recesivní alela prvního genu (barva)</p> 
            <p><b>B</b> = dominantní alela druhého genu (tvar)</p>
            <p><b>b</b> = recesivní alela druhého genu (tvar)</p>
        </div>
    </div>

    <div class="menu-container-priprava" id="ND_polyhybrid">
        <div class="priprava-heterozygotu">
            <div class="heterozygot-div">

                <h1>Polyhybrid (AaBb)</h1>
                <h2 style="margin-top: 1em;">1) První znak (barva)</h2>

                <div style="display: flex; justify-content: center; padding: 1em; gap: 1em;">
                    <h4>A ... Zvolte barvu pro dominantní alelu</h4>
                    <input type="color" class="styled-input" id="ND_colorPicker1" value="#FF0000">
                    <div id="ND_colorPreview1" class="color-preview"></div>
                </div>

                <div style="display: flex; justify-content: center; padding: 1em; gap: 1em;">
                    <h4>a ... Zvolte barvu pro recesivní alelu</h4>
                    <input type="color" class="styled-input" id="ND_colorPicker2" value="#0000FF">
                    <div id="ND_colorPreview2" class="color-preview"></div>
                </div>

                <h2 style="margin-top: 1em;">2) Druhý znak (tvar)</h2>

                <div style="display: flex; justify-content: center; padding: 1em; gap: 1em;">
                    <h4>B ... Vyberte tvar dominantní alely</h4>
                    <input type="number" class="styled-input" style="width: 50px; height: 30px;" id="ND_input1">
                    <span id="ND_numberText1" class="number-preview"></span>
                </div>

                <div style="display: flex; justify-content: center; padding: 1em; gap: 1em;">
                    <h4>b ... Vyberte tvar recesivní alely</h4>
                    <input type="number" class="styled-input" style="width: 50px; height: 30px;" id="ND_input2">
                    <span id="ND_numberText2" class="number-preview"></span>
                </div>


                <button class="button-generujTvar" onclick="ND_generuj()">Generuj polyhybridy</button>


                <div class="heterozygoti-container">
                    <div>
                        <h3>Polyhybrid AaBb</h3>
                        <canvas class="canvas1" id="ND_canvas1" width="400" height="400"></canvas>
                    </div>
                    <h1>X</h1>
                    <div>
                        <h3>Polyhybrid AaBb</h3>
                        <canvas class="canvas1" id="ND_canvas2" width="400" height="400"></canvas>
                    </div>
                </div>
            </div> 
        </div>

        <div style="text-align: center; width: 100%;">
            <button class="button-krizeni" onclick="ND_kriz()">Křížit</button>
        </div>
    </div>


    <div class="menu-container" id="ND_vysledek">  <!-- Tady by se to melo jmenovat jinak, jina class -->
        <h1>Výsledný subjekt</h1>
        <br>
        <p><b>Fenotypový poměr:</b> 1:2:1:2:4:2:1:2:1</p>
        <br>
        <i class="fas fa-angle-double-down"></i>

        <!-- Udelat to po trojcich -->
        <div class="vysledny-canvas-trojice"> 
            <p>1 x (AABB)</p>
            <p>2 x (AaBB)</p>
            <p>1 x (aaBB)</p>
        </div>
        <div class="vysledny-canvas-trojice"> 
            <p>2 x (AABb)</p>
            <p>4 x (AaBb)</p>
            <p>2 x (aaBb)</p>
        </div>
        <div class="vysledny-canvas-trojice"> 
            <p>1 x (AAbb)</p>
            <p>2 x (Aabb)</p>
            <p>1 x (aabb)</p>
        </div>

        <div class="vysledny-canvas-container">
            <div class="vysledny-canvas">
                <h1>1x</h1>
                <canvas class="canvas2" id="ND_canvas3" width="400" height="400"></canvas>
                <h1>2x</h1>
                <canvas class="canvas2" id="ND_canvas4" width="400" height="400"></canvas>
                <h1>1x</h1>
                <canvas class="canvas2" id="ND_canvas5" width="400" height="400"></canvas> 
            </div>
            <div class="vysledny-canvas">
                <h1>2x</h1>
                <canvas class="canvas2" id="ND_canvas6" width="400" height="400"></canvas>
                <h1>4x</h1>
                <canvas class="canvas2" id="ND_canvas7" width="400" height="400"></canvas> 
                <h1>2x</h1>
                <canvas class="canvas2" id="ND_canvas8" width="400" height="400"></canvas>
            </div>
            <div class="vysledny-canvas">
                <h1>1x</h1>
                <canvas class="canvas2" id="ND_canvas9" width="400" height="400"></canvas>
                <h1>2x</h1>
                <canvas class="canvas2" id="ND_canvas10" width="400" height="400"></canvas>
                <h1>1x</h1>
                <canvas class="canvas2" id="ND_canvas11" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    <button class="button-krizeni" onclick="neuplnaDominancePDF()">Generuj PDF</button>
</div>


<!-- KODOMINANCE -->

<div class="body-crossing" id="kodominance" style="display: none;">
    <!-- <div class="menu-container-priprava"> -->
        <!-- dva nevim znaky jako dve kolecka a pod tim jedno ktere bude obsahovat kombinaci tech dvou -->
        <!-- <div class="priprava-heterozygotu"> -->
        <div class="menu-container-priprava">
            <h1 style="margin-top: 1em;">Kodominance - Příprava křížení</h1>
            <p>Pro ilustraci použijeme křížení dvou polyhybridů (AB × AB), kde:</p>

            <div style="border: 1px solid black; border-radius: 10px; width: 30%; justify-self: center; margin: 2em;">
                <p><b>A</b> = alela pro první barvu</p>
                <p><b>B</b> = alela pro druhou barvu</p> 
            </div>
        </div>
        <div class="menu-container-priprava">
            <h1 style="margin-top: 1em;">Příprava křížení</h1>
            <!-- Kdyz to bude na mobil tak zmenit flex direction na columns -->
            <div style="display: flex; justify-content: center; align-items: center; margin-top: 2em;"> 
                <div style="margin-right: 10%;">
                    <h3>1) Vyberte barvu, kterou bude určovat první alela.</h3>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <input style="margin-right: 1em ;" type="color" class="styled-input" id="Kodominance_ColorPicker1"value="#FF0000">
                        
                    <h2 style="margin-right: 0.7em ;">=></h2>
                    <div class="kodominance-kruh" id="kruh1">
                        <div class="dot prvniKolecka" style="top: 67px; left: 70px;"></div>
                        <div class="dot prvniKolecka" style="top: 42px; left: 45px;"></div>
                        <div class="dot prvniKolecka" style="top: 111px; left: 34px;"></div>
                        <div class="dot prvniKolecka" style="top: 60px; left: 100px;"></div>
                    </div>
                </div>
                </div>
                <div style="justify-content: center; align-items: center;">
                    <h3>2) Vyberte barvu, kterou bude určovat druhá alela.</h3>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <input style="margin-right: 1em ;" type="color" class="styled-input" id="Kodominance_ColorPicker2"value="#0000FF">
                        <h2 style="margin-right: 0.7em ;">=></h2>
                        <div class="kodominance-kruh" id="kruh2">
                            <div class="dot druheKolecka" style="top: 30px; left: 30px;"></div>
                            <div class="dot druheKolecka" style="top: 60px; left: 50px;"></div>
                            <div class="dot druheKolecka" style="top: 50px; left: 80px;"></div>
                            <div class="dot druheKolecka" style="top: 60px; left: 100px;"></div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <h3 style="margin-top: 4em;">Klikněte na Křížit pro zobrazení výsledku kombinace alel</h3>
            <button class="button-krizeni" style="margin-bottom: 2em;" onclick="krizit()">Křížit</button>
        </div>

            <div class="menu-container-priprava" style="display: flex;flex-direction: column;justify-content: center; align-items: center;">
                <h1>Výsledek křížení</h1>
                <div class="kodominance-kruh" style="justify-content: center; align-self: center;" id="vysledek-kodominance"></div>
                <p>Při kodominanci se obě alely projeví současně.</p>
            </div>
            
</div>    
    <div style="height: 800px;"></div>

    <div>
        <%- include('../views/footer.ejs') %>
    </div>

<!-- KNIHOVNY PRO PDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="/javascripts/crossing.js"></script>


    
    <!-- <script src="javascripts/crossing.js"></script> -->
</body>
</html>