<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/body.css">

    <title>Crossing</title>
</head>
<body>
    <div>
        <%- include('../views/navbar.ejs') %>
    </div>
    
    <div style="height: 300px;"></div>
    <h1 style="align-items: center; text-align: center; background-color: aliceblue; height: 50px;">Tato stranka funguje pouze pro prihlasene</h1>
    <div style="height: 800px;"></div>

    <div>
        <%- include('../views/footer.ejs') %>
    </div>
</body>
</html>