<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/crossing.css">
    <link rel="stylesheet" href="/stylesheets/body.css">

    <title>Crossing</title>
</head>
<body>
    <div>
        <%- include('../views/navbar.ejs') %>
    </div>
    
    
<!--     
    <div>
        <%- include('../views/flashcard.ejs') %>
    </div> -->


    <div>
        <%- include('../views/footer.ejs') %>
    </div>
</body>
</html>