<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/flashcard.css">
</head>
<body>
    <!-- FLASHCARDS - pro hezci vizualizaci postupu -->
    <div class="body-flashcard">


        <!-- PRVNI FLASHCARD -->
        <div class="flashcard">
            <h1 class="h-flashcard">1. Náhodné zvolení otcovy a matčiny alely</h2>
            <p>Výběr té alely, která putuje z otce nebo matky je čistě náhodný. <br>Šance jsou tedy rozděleny 1:1, neboli 50% a 50%</p>

            <Button class="button-vyberAlel" onclick="volbaAlely()">Spustit náhodný výběr</Button>

            <!-- HORIZNOTAL DIV + VERTICAL DIV - zobrazime alelu otce a matky -->
            <div class="alely" > 
                <div class="horizontal-div">
                    <div class="verical-div">
                        <h3>Alela otce</h3>
                        <p class="alela" id="alelaOtec">__</p> <!-- doplni se diky funkci volbaAlely() -->
                    </div>
                    <div class="verical-div">
                        <h3>Alela matky</h3>
                        <p class="alela" id="alelaMatka">__</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- DRUHA FLASHCARD -->
        <div class="flashcard">
            <h2>F1 - formule</h2>
            <p>This is the content for the second flashcard.</p>
            <Button class="button-vyberAlel" onclick="zobrazKrizeniF1()">Spustit křížení</Button>
            <table>
                <tr>
                    <th>Prvni</th>
                    <th>Druha</th>
                </tr>
                <tr>
                    <td id="td1"></td>
                    <td id="td2"></td>
                </tr>
                <tr>
                    <td id="td3"></td>
                    <td id="td4"></td>
                </tr>
            </table>

        </div>
        <!-- TRETI FLASHCARD -->
        <div class="flashcard">
            <h2>F2 - formule</h2>
            <p>This is the content for the third flashcard.</p>
            <img src="/images/f3formule.jpeg" alt="">
        </div>
    </div>  
    
    <script src="/javascripts/flashcard.js"></script>
</body>
</html>