<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/flashcard.css">
</head>
<body>
    <div class="body-flashcard">
        <div class="flashcard">
            <h2 class="h-flashcard">Prvně se náhodně zvolí alela z otce a matky</h2>
            <p>This is the content for the first flashcard.</p>
        </div>
        <div class="flashcard">
            <h2>F1 - formule</h2>
            <p>This is the content for the second flashcard.</p>
            <img src="/images/alel.png" alt="f1_formule_img">
        </div>
        <div class="flashcard">
            <h2>F2 - formule</h2>
            <p>This is the content for the third flashcard.</p>
            <img src="/images/f3formule.jpeg" alt="">
        </div>
    </div>    
</body>
</html>