<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/flashcard.css">
</head>
<body>
    <div class="body-flashcard-select">
        <div class="flashcard">
            <select id="mendelSelect" onchange="showContent()">
            <option value="mendel1">1. Mendelův zákon</option>
            <option value="mendel2">2. Mendelův zákon</option>
            <option value="mendel3">3. Mendelův zákon</option>
            </select>
        </div>
    </div>
    <!-- FLASHCARDS - pro hezci vizualizaci postupu -->
    <div id="mendel1" class="body-flashcard">

        <!-- VYBRANI TYPU KRIZENI -->
        <!-- <div class="flashcard">
            <div class="select-dropdown">
                <div class="select">
                    <span class="select-selected">Typ KRIZENI</span>
                    <div class="caret"></div>
                </div>
                <ul class="menu">
                    <li>Dominantni</li>
                    <li>Recesivni</li>
                    <li>Zpetne krizeni</li>
                    <li class="active">Typ KRIZENI</li>
                    <li>ADOBE xs</li>
                </ul>
            </div>  https://www.youtube.com/watch?v=hBbrGFCszU4 
        </div> -->
        <!-- NEBO SI HEZKY VYBERU JAKY MENDELUV ZAKON CHCI -->
        <!-- <div class="flashcard">
            <select id="mendelSelect" onchange="showContent()">
             <option value="">Vyberte mendelův zákon</option>
             <option value="mendel1">1. Mendelův zákon</option>
             <option value="mendel2">2. Mendelův zákon</option>
             <option value="mendel3">3. Mendelův zákon</option>
            </select>
         </div>  -->


<!-- VYBRAT HROZINKA -->

            <!-- UVOD k vybrani alel -->
            <div class="flashcard">
                <h1 class="h-flashcard">1. zákon – uniformity</h1>
                <p>Při vzájemném křížení 2 <a href="http://localhost:3000/literatura#homozygot">homozygotů</a> vznikají potomci genotypově i fenotypově jednotní. Pokud jde o 2 různé homozygoty jsou potomci vždy heterozygotními hybridy</p>

                
                <div class="horizontal-div">
                    <div class="verical-div">
                        <p style="font-weight: 600; font-size: larger;">Homozygot s <a href="http://localhost:3000/literatura#alela">alelou</a> <b>AA</b></p>
                        <img src="/images/KytkaAA.png" alt="KytkaAA">
                    </div>
                    <h1 style="align-content: center;"><ion-icon name="close-outline"></ion-icon></h1>
                    <div class="verical-div">
                        <p style="font-weight: 600; font-size: larger;">Homozygot s alelou <b>aa</b></p>
                        <img src="/images/MKytkaaa.png" alt="MKytkaaa">
                    </div>
                </div>
            </div>
<!-- VYBRAT HROZINKA -->

            <!-- UVOD k vybrani alel -->
            <div class="flashcard">
                <h1 class="h-flashcard">1. zákon – uniformity</h1>
                <p>Při vzájemném křížení 2 homozygotů vznikají potomci genotypově i fenotypově jednotní. Pokud jde o 2 různé homozygoty jsou potomci vždy heterozygotními hybridy</p>

                <div class="horizontal-div">
                    <div class="verical-div">
                        <img src="/images/KytkaAA.png" alt="">
                        <p style="font-weight: 600; font-size: larger;">Homozygot s alelou <b>AA</b></p>
                    </div>
                    <div class="verical-div">
                        <img src="/images/MKytkaaa.png" alt="">
                        <p style="font-weight: 600; font-size: larger;">Homozygot s alelou <b>aa</b></p>
                    </div> 
                </div>
            </div>
            <!-- Prvni Generace -->
            <!-- PRVNI FLASHCARD -->
            <div class="flashcard">
                <h2>Náhodné zvolení otcovy a matčiny alely</h2>
                <p>Výběr té alely, která putuje z otce nebo matky je čistě náhodný. <br>Šance jsou tedy rozděleny 1:1, neboli 50% a 50%</p>

                <Button class="button-vyberAlel" onclick="volbaAlelyRodic()">Spustit náhodný výběr</Button>

                <!-- HORIZNOTAL DIV + VERTICAL DIV - zobrazime alelu otce a matky -->
                <div class="alely" > 
                    <div class="horizontal-div">
                        <div class="verical-div">
                            <h3>Alela otce</h3>
                            <p class="alela" id="alelaOtec">__</p> <!-- doplni se diky funkci volbaAlely() -->
                        </div>
                        <div class="verical-div">
                            <h3>Alela matky</h3>
                            <p class="alela" id="alelaMatka">__</p>
                        </div>
                    </div>
                </div>
            </div>
            

            <!-- KRIZENI OTCE A MATKY? -->
            <div class="flashcard">
                <h2>F1 Generace</h2>
                <p>F1 generace (1. filiální = první generace potomků) vzejde z krizeni dvou A a z rodicu bla bla</p>
                <img style="height: 400px;" src="/images/KytkaPAa.png" alt="">
                <p>Červená kytka s alelou <b>Aa</b></p>
            </div>
    </div>
<!-- MENDEL 2 -->
    <div id="mendel2" class="body-flashcard" style="display: none;">
        <!-- <div class="flashcard">
            <select id="mendelSelect" onchange="showContent()">
             <option value="">Vyberte mendelův zákon</option>
             <option value="mendel1">1. Mendelův zákon</option>
             <option value="mendel2">2. Mendelův zákon</option>
             <option value="mendel3">3. Mendelův zákon</option>
            </select>
         </div>  -->
         <!-- KRIZIM DVA HETEROZIGOTY M2 - 1. FLASHCARD -->
        <div class="flashcard">
            <h1 class="h-flashcard">2. zákon – segregace</h1>
            <p>Při křížení 2 heterozygotů může být potomkovi předána každá ze dvou alel (dominantní i recesivní) se stejnou pravděpodobností.</p>

            <div class="horizontal-div">
                <div class="verical-div">
                    <p style="font-weight: 600; font-size: larger;"><a href="http://localhost:3000/literatura#heterozygot">Heterozygot</a> s alelou <b>Aa</b></p>
                    <img src="/images/KytkaPAa.png" alt="KytkaPAa">
                </div>
                <h1 style="align-content: center;"><ion-icon name="close-outline"></ion-icon></h1>
                <div class="verical-div">
                    <p style="font-weight: 600; font-size: larger;"><a href="http://localhost:3000/literatura#heterozygot">Heterozygot</a> s alelou <b>Aa</b></p>
                    <img src="/images/KytkaPAa.png" alt="KytkaPAa">
                </div>
            </div>
        </div>
            <!-- VYSLEDEK KRIZENI F1 GENERACE?  M2 - 2. FLASHCARD -->
        <div class="flashcard">
            <h1 class="h-flashcard">F2 Generace</h1>
            <Button class="button-vyberAlel" onclick="zobrazKrizeniF1();showImg()">Spustit křížení</Button>
            <br><br><br>
            <p>Rozdeleni alel po krizeni F1 Generace</p>
            <table>
                <tr>
                    <th>xx</th>
                    <th>A</th>
                    <th>a</th>
                </tr>
                <tr>
                    <th>A</th>
                    <td id="td1"></td>
                    <td id="td2"></td>
                </tr>
                <tr>
                    <th>a</th>
                    <td id="td3"></td>
                    <td id="td4"></td>
                </tr>
            </table>
            <br><br><br>
            <p>Tabulka pro zobrazeni moznych dvojic pro alely s ukazkou projevu fenotypu</p>
            <table>
                <tr>
                    <th>xx</th>
                    <th>A</th>
                    <th>a</th>
                </tr>
                <tr>
                    <th>A</th>
                    <td><img id="img1" class="img-M2tabulka" src="/images/KytkaAA.png" alt="KytkaPAa"></td>
                    <td><img id="img2" class="img-M2tabulka" src="/images/KytkaPAa.png" alt="KytkaPAa"></td>
                </tr>
                <tr>
                    <th>a</th>
                    <td><img id="img3" class="img-M2tabulka" src="/images/KytkaPAa.png" alt="KytkaPAa"></td>
                    <td><img id="img4" class="img-M2tabulka" src="/images/MKytkaaa.png" alt="MKytkaaa"></td>
                </tr>
            </table>
        </div>

        <div class="flashcard">
            <h1>Pravděpodobnost projevu fenotypu</h1>
            <div class="horizontal-div-mobile">
                <div class="verical-div">
                    <h1 style="align-content: center; justify-content: center;">75%</h1>
                    <p style="font-weight: 600; font-size: larger;">Červená kytka</p>
                    <img src="/images/kytka.png" alt="KytkaPAa">
                </div>
                <div class="verical-div">
                    <h1 style="align-content: center; text-align: center">25%</h1>
                    <p style="font-weight: 600; font-size: larger;">Modrá kytka</p>
                    <img src="/images/ModraKytka.png" alt="KytkaPAa">
                </div>
            </div>
        </div>

    </div>

    <div id="mendel3" class="body-flashcard" style="display: none;"> 
        <!-- <div class="flashcard">
            <select id="mendelSelect" onchange="showContent()">
             <option value="">Vyberte mendelův zákon</option>
             <option value="mendel1">1. Mendelův zákon</option>
             <option value="mendel2">2. Mendelův zákon</option>
             <option value="mendel3">3. Mendelův zákon</option>
            </select>
         </div>  -->
            <!-- TRETI FLASHCARD -->
            <div class="flashcard">
                <h2>F2 - formule</h2>
                <p>This is the content for the third flashcard.</p>
                <img src="/images/f3formule.jpeg" alt="">
            </div>
    </div>  
    
    <script src="/javascripts/flashcard.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>