<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>
<body>
    <!-- PRAZDNY DIV -->
    <div style="width: 100px; height: 500px; "></div>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h4>Popis</h4>
                <p>Biocross je učební pomůcka pro výuku Křížení alel</p>
            </div>
            <div class="footer-section">
                <h4>Kontakt</h4>
                <p>Email: <a href="mailto:info@example.com">krystof.maxa@student.gyarab.cz</a></p>
            </div>
            <div class="footer-section">
                <img src="/images/gyarablogo.png" alt="">
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Kryštof Maxa. All rights reserved.</p>
        </div>
    </footer>
    
    
</body>
</html>