<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/homepage.css">

  <title>Home</title>
 
</head>
<body>

  <div>
    <%- include('../views/navbar.ejs') %>
  </div>


  <!-- Hero Section -->
  <section class="hero">
    <div>
      <h1>Učební pomůcka pro křížení alel</h1>
      
    </div>
  </section>

  <!-- Main Content Section -->
  <section class="content">
    <h2>Main Content</h2>
    <p>This is the main content section of your homepage. It looks great on both mobile and desktop!</p>
  </section>



  <div>

    <!-- PRAZDNY DIV -->
    <div style="width: 100px; height: 1000px; "></div>

    <%- include('../views/footer.ejs') %>
  </div>

  <script src="/javascripts/homepage.js"></script>

</body>
</html>
