<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/homepage.css">
  <link rel="stylesheet" href="/stylesheets/body.css">


  <title>Home</title>
 
</head>
<body>

  <div>
    <%- include('../views/navbar.ejs') %>
  </div>


  <!-- Hero Section -->
  <!-- <section class="hero">
    <div>
      <h1>Učební pomůcka pro křížení alel</h1>
      
    </div>
  </section> -->
<!-- HERO SECTION S OBRAZKEM -->
  <div class="hero-image">
    <div class="hero">
      <h1>Učební pomůcka pro křížení alel</h1>
      <p>A full width background image built with HTML & CSS.</p>
    </div>
  </div>
  <!-- Main Content Section -->
  <section class="content">
    <h2>Main Content</h2>
    <p>This is the main content section of your homepage. It looks great on both mobile and desktop!</p>
  </section>



  <div>
    <%- include('../views/footer.ejs') %>
  </div>

  <script src="/javascripts/homepage.js"></script>

</body>
</html>
