<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/navbar.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">BIOCROSS</a></div>
            <ul class="links">
                <li><a class="nav-prepinace" href="home">Domovská stránka</a></li>
                <li><a class="nav-prepinace" href="crossing">Crossing</a></li>
                <li><a class="nav-prepinace" href="literatura">Literatura</a></li>
                <li><a class="nav-prepinace" href="classroom">Classroom</a></li>
            </ul>
            <a href="login" class="action_btn">Přihlásit se</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="dropdown_menu">
                <li><a href="home">Domovská stránka</a></li>
                <li><a href="crossing">Crossing</a></li>
                <li><a href="literatura">Literatura</a></li>
                <li><a href="classroom">Classroom</a></li>
                <li><a href="#" class="action_btn">Přihlásit se</a></li>
        </div>
    </header>
<script src="/javascripts/navbar.js"></script>
</body>
</html>