.task-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.task-card {
    background-color: #d4edda; /* Světle zelená */
    border-left: 6px solid #2e7d32; /* Tmavší zelený pruh */
    border-radius: 12px;
    padding: 15px;
    width: 250px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 180px;
    min-height: 180px;
}

.task-card:hover {
    background-color: #c8e6c9; /* O trochu tmavší při najetí */
    transform: translateY(-3px);
}

.task-title {
    font-size: 18px;
    font-weight: bold;
    color: #2e7d32; /* Zelená */
    margin-bottom: 10px;
}

.task-info {
    font-size: 14px;
    color: #555;
}
.button-odevzdat {
    background-color: #2e7d32;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-odevzdat:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.button-odevzdat:active {
    background-color: #3e8e41;
    transform: scale(0.95);
}

.input-pdf {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
    background-color: #f8fff8;
    color: #000;
}

.input-pdf:hover,
.input-pdf:focus {
    border-color: #45a049;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
}

.zapsat-kurz {
    background: #e8f5e9;
    width: 80%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-left: 6px solid #388e3c;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    margin: 2em;
    justify-self: center;
    /* text-align: center;
    justify-items: center; */
}

.zapsat-kurz:hover {
    transform: scale(1.02);
}
.zapsat-kurz label{
    font-size: 21px;
    color: #388e3c;
    margin-top: 20px;
    margin-left: 5%;
}
.zapsat-kurz input{
    display: block;
    width: 70%;
    padding: 10px;
    /* border: 1px solid #000000; */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-top: 10px;

}

.submit-kurz{
    margin-left: 5%;
    width: 30%;
    padding: 10px;
    background: #388e3c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}