:root{
    --base-clr: #11121a;
    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #b0b3c1;
}


.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.horizontal-div{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    gap: 40px;
}
.horizontal-div-mobile{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    gap: 40px;
}

.vertical-div {
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align items to the left */
    gap: 10px; 
    
}
/* VYBEROVE MENU */
.body-crossing{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.menu-container{
    border: 1px solid var(--line-clr);
    border-radius: 1em;

    width: 60%;
    margin-left: 20%;
    margin-right: 20%;    
    /* display: flex; */
    margin-top: 3em;

    background-color: #d5ffd7d1;
    justify-content: center;
}


.select-krizeni{
    background-color: var(--base-clr);
    border-radius: 2em;
    width: 30%;
    height: 100%;
    margin-left: 35%;
    margin-top: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
    /* justify-content: center; */
    
    label {
        color: white;
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 20px;
        font-weight: bold;

    }
    select {
        padding: 8px;
        font-size: 16px;
        margin-bottom: 1em;
        border-radius: 5px;
        width: 50%;
        /* border: 2px solid #012146; */
        color: #333;
        cursor: pointer;
        font-weight: bold;

        
    }
    select:hover {
        border-color: #356cb1;
    }
}




.menu-container h1{
    color: var(--base-clr);
    font-size: 30px;
    text-align: center;
  }
  .menu-container p {
    color: var(--line-clr);
  }
  
  



  option {
    color: #4e8dd4;
    background-color: #f4f4f9;
    font-weight: bold;
  }
/* 
.vl {
  border-left: 6px solid green;
  height: 150px;
} */

/* p {
    text-align: center;
    color: #34495e;
    font-size: 1.1em;
} */

/* .steps {
    list-style-type: decimal;
    padding-left: 20px;
}

.steps li {
    background-color: #ecf0f1;
    margin: 15px 0;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.steps li:hover {
    background-color: #bdc3c7;
}

.steps h2 {
    color: #2980b9;
    margin-top: 0;
}

.steps p {
    margin: 10px 0;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
} */

.button-krizeni{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.6s ease;
}
.button-generujTvar{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.6s ease;
}
