.body-flashcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.flashcard {
    background-color: #FEF9FA;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    width: 100%; /* Full width on small screens */
    max-width: 50rem; /* Maximum width for larger screens */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-align: center;
    color: 060D0D;
}

.flashcard:hover {
    transform: scale(1.05);
}

img {
    max-width: 100%; /* Ensure images are responsive */
    height: auto;
    border-radius: 8px;
}


.button-vyberAlel{
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove default border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding around text */
    text-align: center; /* Center text inside button */
    text-decoration: none; /* Remove underline from text */
    display: inline-block; /* Allows setting dimensions */
    font-size: 17px; /* Text size */
    font-weight: bold; /* Make text bold */
    margin: 10px 2px; /* Margin around button */
    cursor: pointer; /* Changes cursor on hover */
    border-radius: 12px; /* Rounded corners */
    transition: background-color 0.6s ease; /* Smooth hover effect */
}
.button-vyberAlel:hover {
    background-color: #45a049; /* Darker green on hover */
}
.alely{
    padding-top: 10px;
}
.horizontal-div{
    display: flex;
    justify-content: center;
    gap: 40px;;

}
.vertical-div {
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the left */
    gap: 20px; /* Space between the h3 elements */
    
}
/* ANIMACE */

/* .alela {
    text-align: left;
    transition: all 1s ease;
} */

.move {
    /* transform: translateX(10rem); */
}

/* Media query for tablet and larger screens */
@media (min-width: 768px) {
    .flashcard {
        width: 80%; /* Adjust width for tablet */
    }
}

/* Media query for desktop and larger screens */
@media (min-width: 1024px) {
    .flashcard {
        width: 60%; /* Adjust width for desktop */
    }
}
