/* Coolors Exported Palette - https://coolors.co/347230-060d0d-d7ecbe-2f3838-fdfefc */

/* CSS HEX */
--fern-green: #347230ff;
--night: #060d0dff;
--tea-green: #d7ecbeff;
--gunmetal: #2f3838ff;
--baby-powder: #fdfefcff;

/* CSS HSL */
--fern-green: hsla(116, 41%, 32%, 1);
--night: hsla(180, 37%, 4%, 1);
--tea-green: hsla(87, 55%, 84%, 1);
--gunmetal: hsla(180, 9%, 20%, 1);
--baby-powder: hsla(90, 50%, 99%, 1);

/* SCSS HEX */
$fern-green: #347230ff;
$night: #060d0dff;
$tea-green: #d7ecbeff;
$gunmetal: #2f3838ff;
$baby-powder: #fdfefcff;

/* SCSS HSL */
$fern-green: hsla(116, 41%, 32%, 1);
$night: hsla(180, 37%, 4%, 1);
$tea-green: hsla(87, 55%, 84%, 1);
$gunmetal: hsla(180, 9%, 20%, 1);
$baby-powder: hsla(90, 50%, 99%, 1);

/* SCSS RGB */
$fern-green: rgba(52, 114, 48, 1);
$night: rgba(6, 13, 13, 1);
$tea-green: rgba(215, 236, 190, 1);
$gunmetal: rgba(47, 56, 56, 1);
$baby-powder: rgba(253, 254, 252, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #347230ff, #060d0dff, #d7ecbeff, #2f3838ff, #fdfefcff);
$gradient-right: linear-gradient(90deg, #347230ff, #060d0dff, #d7ecbeff, #2f3838ff, #fdfefcff);
$gradient-bottom: linear-gradient(180deg, #347230ff, #060d0dff, #d7ecbeff, #2f3838ff, #fdfefcff);
$gradient-left: linear-gradient(270deg, #347230ff, #060d0dff, #d7ecbeff, #2f3838ff, #fdfefcff);
$gradient-top-right: linear-gradient(45deg, #347230ff, #060d0dff, #d7ecbeff, #2f3838ff, #fdfefcff);
$gradient-bottom-right: linear-gradient(135deg, #347230ff, #060d0dff, #d7ecbeff, #2f3838ff, #fdfefcff);
$gradient-top-left: linear-gradient(225deg, #347230ff, #060d0dff, #d7ecbeff, #2f3838ff, #fdfefcff);
$gradient-bottom-left: linear-gradient(315deg, #347230ff, #060d0dff, #d7ecbeff, #2f3838ff, #fdfefcff);
$gradient-radial: radial-gradient(#347230ff, #060d0dff, #d7ecbeff, #2f3838ff, #fdfefcff);